* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas', monospace;
}

body {
    display: grid;
    background: rgb(0, 32, 32);
}

#info{
    width: 100%;
    background-color: #000c;
    color: slategray;
    padding: 10px 0
}
#info h1{
    color: white;
    margin: 0 auto;
}
#info .h1{
    color: white;
    background-color: black;
    padding: 2px;
}
#info .h1::before,
#info .h1::after{
    content: "::";
    color: red;
}
#info .h2{
    color: red;
}
#skinTable{
    background-color: darkslategray;
    text-align: center;
    margin: 0 auto;
    
}
#skins{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
#skins>*{
    padding: 10px;
}
#skins>*>div {
    background-color: rgb(0, 32, 32);
    border: 2px inset darkslategray;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

#bg {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    /* height: 100%; */
}

#endGame{
    position: fixed;
    width: 100%;
    height: 100%;
    /* filter: blur(4px); */
    background: #0009;
    /* opacity: .4; */
    z-index: 2;
    display: none;
}

#endGame .info{
    margin: auto;
    margin-top: 5vh;
    padding: 20px;
    height: 100px;
    text-align: center;
    min-width: 300px;
    width: 10%;
    background: white;
}
.info button{
    background: darkslateblue;
    color: white;
    padding: 5px;
    border: 3px outset darkslateblue;
}
.info button:active,
#replay:active{
    background: slateblue;
    border: 3px inset slateblue;
}
#board {
    display: grid;
    width: fit-content;
    height: auto;
    margin: 0 auto;
    /* background: darkslateblue; */
    background: darkslategray;
    /* background: url('../gfx/wunsz-bg.gif'); */
}

.field,
.border,
.point {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.field {
    transition: transform .1s linear;

    /* transition: background .1s ease; */
    /* background: darkslateblue; */
    /* border: 1px dashed slateblue; */
}

.border {
    /* background: darkslategray; */
    background: rgb(0, 32, 32);
    border: 3px outset darkslategray
}

.point {
    background-color: yellow;
    /* border: 3px outset yellow; */
    border: none;
    transform: scale(1.2,1.2) rotate(360deg);
    animation: pointMove 2s infinite;
    animation-delay: .5s;
    transition: all .1s ease;
    z-index: 1;
}

.head {
    background: white;
    position: relative;
    transform: scale(1.2,1.2);
    /* transition: transform .1s linear; */
    /* animation: headMove .5s; */
    border: none;
    /* border-top: 10px solid blue; */
    align-self: center;
    justify-self: center;
    background: url('../gfx/head0.png');
}

.body {
    transition: transform .1s ease;
    background: green;
    /* border: 16px solid transparent; */
    /* border-bottom: 16px solid greenyellow; */
    background: url('../gfx/body0.png');
    animation: bodyMove 3s infinite;
    animation-delay: .1s;
}

 .body[orientation="h"] { animation: bodyMove 3s infinite, bodyMoveH 3s infinite ; } 
 .body[orientation="v"] { animation: bodyMove 3s infinite, bodyMoveV 3s infinite ; } 
/* @media (orientation: landscape){
    body {
        background: whitesmoke;
    }
} */

@keyframes pointMove {
    0% {transform: scale(1.2,1.2) rotate(360deg)}
    50% {transform: scale(.7,.7) rotate(360deg)}
    100% {transform: scale(1.2,1.2) rotate(360deg)}
}
@keyframes headMove{
    0% {width: 50%; height: 50%;}
    100% {transform: rotate(inherit) scale(1);}
}
@keyframes bodyMove {
    0% {
        transform: scale(1.2);
        /* box-shadow: 0 0 40px 5px #0ff; */
    }
    50% {
        box-shadow: none;
        transform: scale(1) ;
        /* background-color: black; */
        filter: brightness(.5) saturate(10);
        /* filter: ; */
        /* filter: invert(.2) drop-shadow(0 0 10px darkslateblue); */
    }
    100% {
        transform: scale(1.2);
        /* box-shadow: 0 0 40px 5px #0ff; */

    }
}

@keyframes bodyMoveH{    
    0% {transform: scale(1.2) translateY(-2.5px)}
    50% {transform: scale(1) translateY(2.5px)}
    100% {transform: scale(1.2) translateY(-2.5px)}
}

@keyframes bodyMoveV{    
    0% {transform: scale(1.2) translateX(-2.5px)}
    50% {transform: scale(1) translateX(2.5px)}
    100% {transform: scale(1.2) translateX(-2.5px)}
}